<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/guide.css') }}">
    <title>Guia - {{guide.title}}</title>
</head>
<body>

    <nav>
        <img src="https://cdn.freebiesupply.com/logos/large/2x/s-bahn-1-logo-png-transparent.png" alt="logo" style="width:60px">
        <!-- <section>
            <h1>Schulf</h1>
            <p>Tu tutor de programacion</p>
        </section> -->
        <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/guides">Guías</a></li>
            <li><a href="">Nosotros</a></li>
        </ul>
    </nav>

    <header>

        <h1>{{guide.title}}</h1>

    </header>

    <main>

        <p>{{guide.body}}</p>

        <iframe src="https://www.youtube.com/embed/{{guide.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </main>

    <footer>

        <p>Developed by <a href="http://twitter.com/derickode">Derick</a></p>
        <p>If you want to contribute check the <a href="https://github.com/derickdev6/schulf">Schulf repo</a></p>
    </footer>

</body>
</html>